@import '../../scss/variable';

h4.Project__display_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4.Project__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Project__languages {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    .Project__languages__tag {
        display: block;
        padding: 0.125rem 0.75rem;
        border-radius: 2.5rem;
        background-color: map-get($theme, 'base');
        color: white;


        &.Project__languages__tag__primary {
            background-color: map-get($theme, 'primary');
            color: white;
        }

        // &:nth-child(4n+2) {
        //     background-color: map-get($theme, 'secondary');
        //     color: white;
        // }

        // &:nth-child(4n+3) {
        //     background-color: map-get($theme, 'tertiary');
        //     color: white;
        // }
        // &:nth-child(4n) {
        //     background-color: map-get($theme, 'quaternary');
        //     color: black;
        // }
    }
}

.Card__hover {
    height: fit-content;
}

.Card__hover__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Project_hover__content {
    flex: 1 auto;
}

.Project__hover__header {
    flex: 0 1;
}

.Project__hover__footer {
    flex: 0 1;
}

.Project__buttons {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    flex: 1 1 0px;
    flex-wrap: wrap;
    height: fit-content;
    .Button {
        font-size: 0.95rem !important;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}