@import '../../scss/helper';

.Typewriter__text {
    display: inline-block;
}

.Typewriter__cursor {
    display: inline-block;
    color: currentColor;
    @include animation($name:blink, $duration:1s, $timing_function:ease-in-out, $iteration_count:infinite, $direction:alternate);
}

@include keyframes(blink) {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}