:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.Animate {
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;
    display: inline-block;
}