.Button {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(var(--base), 0.1);

    &:link,
    &:visited {
        text-decoration: none;
        text-align: center;
    }

    &.Button__default {
        border: 1px solid var(--base);
        background-color: var(--primaryBg);
        color: var(--base);

        &:hover {
            background-color: var(--baseBg);
            border-color: var(--primaryBg);
            color: var(--primary);
        }
    }

    &.Button__primary {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--baseBg);

        &:hover {
            background-color: var(--baseBg);
            border-color: var(--baseBg);
            color: var(--primary);
        }
    }

    &.Button__secondary,
    &.Button__error {
        background-color: var(--secondary);
        border-color: var(--secondary);
        color: var(--baseBg);

        &:hover {
            background-color: var(--baseBg);
            border-color: var(--baseBg);
            color: var(--secondary);
        }
    }

    &.Button__tertiary,
    &.Button__success {
        background-color: var(--tertiary);
        border-color: var(--tertiary);
        color: var(--baseBg);

        &:hover {
            background-color: var(--baseBg);
            border-color: var(--baseBg);
            color: var(--tertiary);
        }
    }

    &.Button__floating {
        position: fixed;

        &.Button__floating__top {
            top: 0.5rem;
        }

        &.Button__floating__left {
            left: 0.5rem;
        }

        &.Button__floating__right {
            right: 0.5rem;
        }

        &.Button__floating__bottom {
            bottom: 0.5rem;
        }

        &.Button__floating__top_left {
            top: 0.5rem;
            left: 0.5rem;
        }

        &.Button__floating__top_right {
            top: 0.5rem;
            right: 0.5rem;
        }

        &.Button__floating__bottom_left {
            bottom: 0.5rem;
            left: 0.5rem;
        }

        &.Button__floating__bottom_right {
            bottom: 0.5rem;
            right: 0.5rem;
        }

    }

    &:hover {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(var(--base), 0.1);
    }
}