.Blogs {
    padding: 0.5rem;
    background-color: var(--baseBg);

    .BlogWeb__title a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}