@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Raleway:wght@200;400;500&display=swap");

// Color Definitions
$color-date: #666;
$color-primary: #2b2b2b;
$color-headings: #6a6a6a;
$color-subheadings: #333;

:root {
    --base-size: 1vw;
}

.Resume-content[data-theme="deddy"] {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: var(--base-size);
    color: $color-primary;

    a:link,
    a:visited {
        text-decoration: none;
        color: inherit;
    }

    // Date Section
    .Resume-date {
        font-size: 0.75vw;
        color: $color-date;
        font-family: "Raleway", sans-serif;
        font-weight: 200;
    }

    .Resume-title-content {
        font-size: calc(1.125 * var(--base-size));
    }

    // Name Command
    header {
        text-align: center;
        padding-bottom: calc(0.75 * var(--base-size));
        border-bottom: calc(.04 * var(--base-size)) solid $color-primary;

        .Resume-title {
            font-size: calc(3.5 * var(--base-size));
            font-family: "Lato", sans-serif;
            color: $color-headings;

            .shade-1 {
                font-weight: 100;
            }

            .shade-2 {
                font-weight: 300;
            }
        }

        .Resume-title-content {
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            line-height: 1.2;

            span:after {
                content: " | ";
            }

            span:last-child:after {
                content: "";
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 8fr 17fr;
        column-gap: calc(1.25 * var(--base-size));
        padding: calc(1.25 * var(--base-size)) calc(2.5 * var(--base-size));
    }

    aside {
        .Resume-section-skill::after {
            content: " • ";
        }

        .Resume-section-skill:last-child::after {
            content: "";
        }
    }

    .experience,
    .links {
        .Resume-section-subtitle {
            display: inline-block;

            &::after {
                content: "|";
                padding: calc(0.5 * var(--base-size)) calc(0.25 * var(--base-size)) calc(0.5 * var(--base-size));
            }
        }

        .Resume-section-description {
            display: inline-block;
        }
    }

    .links {
        .Resume-section-subtitle {
            text-transform: unset !important;
            font-weight: 300 !important;

            &::after {
                content: ":// ";
                padding-left: 0;
            }
        }

        .twitter::before {
            content: "@";
        }
    }

    .Resume-section {
        padding-bottom: calc(0.75 * var(--base-size));

        // Headings command
        .Resume-section-title {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: calc(1.75 * var(--base-size));
            text-transform: uppercase;
            color: $color-headings;
            padding-bottom: calc(0.25 * var(--base-size));
        }

        .Resume-section-list {
            list-style: none;

            li {
                padding-bottom: var(--base-size);
            }

            .Resume-section-list-item {
                padding-bottom: inherit;
            }

            // Subheadings command
            .Resume-section-subtitle {
                font-family: "Lato", sans-serif;
                font-weight: 700;
                font-size: calc(1.1 * var(--base-size));
                text-transform: uppercase;
                color: $color-subheadings;
            }

            // Descriptors command
            .Resume-section-description {
                font-family: "Raleway", sans-serif;
                font-weight: 500;
                font-size: calc(1.125 * var(--base-size));
                color: $color-subheadings;
            }

            // Location command
            .Resume-section-location {
                font-family: "Raleway", sans-serif;
                font-weight: 500;
                font-size: calc(0.975 * var(--base-size));
                color: $color-headings;
            }

            .Resume-section-content {
                ul {
                    list-style: disc;
                    padding-left: 1.5rem;

                    li {
                        padding: 0.05rem;
                    }
                }
            }

            // Keywords
            .Resume-section-keywords {
                font-size: calc(0.975 * var(--base-size));
            }
        }
    }
}

@media print {
    :root {
        --base-size: 1rem;
    }

    html {
        font-size: 82.5%;
    }

    .Resume-content {
        font-size: var(--base-size);

        a:link,
        a:visited {
            padding: 0.125rem;
        }

        .Resume-date {
            font-size: 0.75rem;
        }


        .experience,
        .links {
            .Resume-section-subtitle {
                display: inline-block;

                &::after {
                    content: "|";
                }
            }
        }
    }
}