.Navbar {
    padding: 0.5rem 0.75rem;
    display: flex;
    gap: 0.5rem;
    background: var(--primaryBg);
    height: 4rem;

    .Navbar-brand {
        display: flex;
        gap: 0.75rem;
        margin-left: auto;
        align-items: center;

        .Navbar-brand-logo {
            display: inline-block;
            width: 3rem;
            height: 3rem;
        }

        .Navbar-brand-text {
            display: inline-block;
            font-size: 1.25rem;
            // line-height: 2;
        }
    }

    .Navbar-list {
        display: flex;
        gap: 0.25rem;
        list-style: none;
        align-items: center;

        .Navbar-item a {
            text-decoration: none;

            // &.active,
            // &:hover {
            //     text-decoration: underline;
            // }
        }
    }

    .Navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .Navbar {
        .Navbar-brand {
            .Navbar-brand-text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .Navbar {
        .Navbar-list {
            display: none;
            transition: transform ease-in-out 1s;
            transform: translate(100%, 100%);
        }

        .Navbar-toggler {
            display: flex;
            align-items: center;
        }
    }

    .Navbar.active {
        .Navbar-list {
            gap: 1rem;
            transform: translate(0, 0);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--primaryBg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;

            .Navbar-item {
                width: 100%;
                max-width: 200px;
            }
        }

        .Navbar-toggler {
            top: 1rem;
            left: 1rem;
            position: absolute;
            z-index: 2;
        }
    }
}