.Navbar {
    padding: 0.5rem 0.75rem;
    display: flex;
    gap: 0.5rem;
    background: var(--primaryBg);
    height: 4rem;

    .Navbar-brand {
        display: flex;
        gap: 0.75rem;
        margin-left: auto;
        align-items: center;

        .Navbar-brand-logo {
            display: inline-block;
            width: 3rem;
            height: 3rem;
        }

        .Navbar-brand-text {
            display: inline-block;
            font-size: 1.25rem;
            color: var(--primary);
        }
    }

    .Navbar-list {
        display: flex;
        gap: 0.25rem;
        list-style: none;
        align-items: center;

        .Navbar-item a {
            text-decoration: none;

            .Navbar-item-name {
                font-weight: bold;
                padding-left: 0.5rem;
            }
        }
    }

    .Navbar-toggler {
        display: none;
    }

    // Floating Navbar
    &.Navbar-float {
        position: fixed;
        top: 50%;
        right: 0;
        height: calc(100% - 4rem);
        max-height: 20rem;
        transform: translate(0, -50%);
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-top-right-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;

        .Navbar-list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;
            order: 2;
            .Navbar-item {
                min-width: 3rem;
                min-height: 3rem;
                .Navlink {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .Navbar-item-name {
                    display: none;
                }
            }
        }
        .Navbar-brand {
            order: 1;
            margin: 0;
            justify-content: center;
            .Navbar-brand-text {
                display: none;
            }
        }
    }

    // Fixed Navbar
    &.Navbar-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}

@media screen and (max-width: 600px) {
    .Navbar {
        .Navbar-brand {
            .Navbar-brand-text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .Navbar {
        .Navbar-list {
            display: none;
            transition: transform ease-in-out 1s;
            transform: translate(100%, 100%);
        }

        .Navbar-toggler {
            display: flex;
            align-items: center;
        }
    }

    .Navbar.active {
        height: 100vh;
        .Navbar-list {
            gap: 1rem;
            transform: translate(0, 0);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--primaryBg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;

            .Navbar-item {
                width: 100%;
                max-width: 200px;
            }
        }

        .Navbar-toggler {
            top: 1rem;
            left: 1rem;
            position: absolute;
            z-index: 2;
        }
    }
}
