.PageSection {
    padding: 0.5rem 0;
    background-color: var(--baseBg);

    .PageSection__heading {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        text-transform: uppercase;
    }

    &.PageSection__primary {
        .PageSection__heading {
            border-left: 0.5rem solid var(--primary);
            text-shadow: 1px 1px 5px var(--primary), 1px 1px 5px var(--primary);
            color: var(--primary);
            box-shadow: -10px 0 10px -9px var(--primary);
        }
    }

    &.PageSection__secondary {
        .PageSection__heading {
            border-left: 0.5rem solid var(--secondary);
            color: var(--secondary);
        }
    }

    &.PageSection__tertiary {
        .PageSection__heading {
            border-left: 0.5rem solid var(--tertiary);
            color: var(--tertiary);
        }
    }

    &.PageSection__quaternary {
        .PageSection__heading {
            border-left: 0.5rem solid var(--quaternary);
            color: var(--quaternary);
        }
    }
}