.Netstats {
    padding: 0.5rem;
    background-color: var(--baseBg);

    h3{
        margin: 0.5rem 0;
    }

    img.Netstats__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.5rem;
    }

    .Netstats__list {
        padding-left: 1.5rem;

        // list-style: url();
        li {
            display: flex;
            align-items: center;
        }
    }

    .Netstats__fieldname {
        font-weight: bold;
        padding-right: 0.5rem;
    }
}