/*
* ====================================================================
*                           THEMES - LIGHT
* ====================================================================
* 1. Base Color : #302b27
* 2. Primary Color : #00374d
* 3. Secondary Color : #a50d12
* 4. Tertiary Color : #02642c
* 5. Base Background Color: #f3ffe9;
* 6. Primary Background Color: #e6f9ff;
* ====================================================================
*                           THEMES - DARK
* ====================================================================
* 1. Base Color : #f4f2f1
* 2. Primary Color : #00a8e8
* 3. Secondary Color : #f15156
* 4. Tertiary Color : #04f06a
* 5. Base Background Color: #00171f
* 6. Primary Background Color: #00171f;
*/

$light-theme: ("base": #302b27, "primary": #00374d, "secondary": #a50d12, "tertiary": #02642c, "base-bg":#f3ffe9, "primary-bg": #e6f9ff);
$dark-theme: ("base": #f4f2f1, "primary": #00a8e8, "secondary": #f15156, "tertiary": #04f06a, "base-bg": #00171f);
$theme: $light-theme;