.Navlink {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;

    &:link,
    &:visited {
        color: var(--primary);
    }

    &:hover,
    &.Navbar__active {
        background: var(--primary);
        color: var(--primaryBg);
        text-decoration: none;
    }
}